/* @import "tailwindcss";
html {
  scroll-behavior: smooth;
} */
@import "tailwindcss";

@theme {
  @keyframes float {
    0%, 100% { 
      transform: translateY(0px); 
    }
    50% { 
      transform: translateY(-20px); 
    }
  }
  
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
}

html {
  scroll-behavior: smooth;
}



