/* @import "tailwindcss";
html {
  scroll-behavior: smooth;
} */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
html {
  scroll-behavior: smooth;
}
@theme {
  @keyframes float {
    0%, 100% { 
      transform: translateY(0px); 
    }
    50% { 
      transform: translateY(-20px); 
    }
  }
  
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
}

html {
  scroll-behavior: smooth;
}



